[submodule "submodule/demucs"]
	path = submodule/demucs
	url = https://github.com/adefossez/demucs.git

[submodule "submodule/CosyVoice"]
	path = submodule/CosyVoice
	url = https://github.com/FunAudioLLM/CosyVoice.git
